{% extends 'shop/basic.html' %}
{% block title  %} About Us {% endblock %}


{% block css %}
.about
{
text-align:center;
}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Step 1. - My Awesome Cart Experess Checkout your Cart Items..</h2>
        <ol class="list-group list-group-numbered my-4" id="items">
        </ol>
    </div>
    <div class="col my4">
        <h2>Step 2. - Enter Other Details..</h2>
        <form class="row g-3" method="post" action="/shop/checkout">{% csrf_token %}
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="col-12">
                <label for="Address1" class="form-label">Address</label>
                <input type="text" class="form-control" id="Address1" placeholder="1234 Main St"
                       name="address1">
            </div>
            <div class="col-12">
                <label for="Address2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="Address2"
                       placeholder="Apartment, studio, or floor" name="address2">
            </div>
            <div class="col-md-6">
                <label for="City" class="form-label">City</label>
                <input type="text" class="form-control" id="City" name="city">
            </div>
            <div class="col-md-4">
                <label for="State" class="form-label">State</label>
                <input type="text" class="form-control" id="State" name="state">
            </div>
            <div class="col-md-2">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone">
            </div>
            <div class="col-md-2">
                <label for="Zip" class="form-label">Zip</label>
                <input type="number" class="form-control" id="Zip" name="zip_code">
            </div>
            <div class="col-md-6">
                <input type="hidden" id="json_item" name="json_item">
                <input type="hidden" id="amount" name="amount">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Place</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    var totalprice = 0;
    var sum = 0;
    if ($.isEmptyObject(cart)) {
        mystr = "<p>Your cart is Empty, please add Some item into your cart before checking out!</p>"
        $('#items').append(mystr);
    } else {
        for (var item in cart) {
            if (cart[item][0] > 0) {
                let name = cart[item][1];
                let qty = cart[item][0]
                let itemprice = cart[item][2]
                sum = sum + qty;
                totalprice = totalprice + qty * itemprice;
                mystr = '<li class="list-group-item d-flex justify-content-between align-items-start"><div class="ms-2 me-auto"><div class="fw-bold">' + name + '</div></div><span class="badge bg-primary rounded-pill" id="qtyproduct">' + qty + '</span></li>'
                $('#items').append(mystr);
            }
        }
        mystr = '<span class="badge bg-primary rounded-pill" > Yout Total Product is :--' + sum +
            '</span>Yout Total Price is :--<span class="badge bg-primary rounded-pill mt-2" id="totalprice"> ' +
            totalprice +
            '</span><div><p class="mx-5 my-2"> Thanks for using My Awesome Cart.. Enter Your Cart Details below & place your order  ..............</p></div>'
        $('#items').append(mystr);
    }
    $('#amount').val($('#totalprice').html())
    $('#json_item').val(JSON.stringify(cart));
    // {% if thank %}
    alert('Thank for Ordering with us . Your Order is {{id}} Use it to Track Your Order usign Our Order Tracker');
    localStorage.clear();
    document.location = "/shop";
    //{% endif %}


</script>
{% endblock %}