{% extends 'shop/basic.html' %}

{% block title  %}  {{product.product_name}} -My Awesome Cart {% endblock %}

{% block css %}
.proview
{
text-align:center;
margin-bottom:50px;
}
.addtocart
{
max-width:150px;
margin-left:-15px;
}
.divpr
{
    margin-top:10px;
    margin-left:60px;
}
{% endblock %}
{% block body %}
<h1 class="proview">Product View</h1>
<div class="container my-4">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="row">
                <img src="/media/{{product.image}}" width="100%" height="100%">
            </div>
            <div class="row">
                 <span id="divpr{{myid}}" class="divpr">
                 <button id="pr{{myid}}" class="btn btn-primary cart mx-0" style="width: 110px;"> Add to Cart </button>
            </span>
            </div>
        </div>
        <div class="col-md-8">
            <h5 style="color: green" id="namepr{{myid}}">{{product.product_name}}</h5>
            <h5 style="color: red" id="pricepr{{myid}}">Price Rs. {{product.price}}</h5>
            <p>{{product.product_desc}}</p>

        </div>
    </div>
</div>

{% endblock %}
{% block js%}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updatePopover(cart);
        sumofCart();
    }

    function clearcart() {
        localStorage.clear();
        cart = {}
        sumofCart();
        updatePopover();
        location.reload()
    }


    $('.divpr').on('click', 'button.cart', function () {
        var idstr = this.id.toString();
        if (cart[idstr] != undefined) {
            qty = cart[idstr][0] + 0;
            name = cart[idstr][1];
            price = cart[idstr][2];
            cart[idstr] = [qty, name, parseInt(price)]
        } else {
            qty = 1
            name= document.getElementById('name' + idstr).innerText;
            price = document.getElementById('price' + idstr).innerHTML;
            cart[idstr] = [qty, name, parseInt(price)]
        }
        updateCart(idstr);
        updatePopover(cart);
        sumofCart();
    });

    // Sum of  cart function

    function sumofCart() {
        if (localStorage.length != 0) {
            var sum = 0;
            for (var item in cart) {
                sum = sum + cart[item][0];
                document.getElementById('cartview').innerHTML = sum;
            }
        } else {
            document.getElementById('cartview').innerHTML = 0;
        }
    }

    function updateCart(item) {
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "'>" + cart[item][0] + "" +
            "</span> <button id='plus" + item + "' class='btn btn-primary plus'>+</button>";
        sumofCart(cart);
        updatePopover(cart);
    }

    //    plus minus btn click
    $('.divpr').on("click", "button.minus", function () {
        a = this.id.slice(7,);
        cart['pr' + a][0] = cart['pr' + a][0] - 1
        cart['pr' + a][0] = Math.max(0, cart['pr' + a][0])
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
        updateCart('pr' + a);
        localStorage.setItem('cart', JSON.stringify(cart));
    });
    $('.divpr').on("click", "button.plus", function () {
        a = this.id.slice(6,);
        cart['pr' + a][0] = cart['pr' + a][0] + 1
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart('pr' + a);
        localStorage.setItem('cart', JSON.stringify(cart));
    });


    //Update Popover Function
    function updatePopover(cart) {
        var popstr = "";
        popstr = popstr + "<h5> Cart For you  items in Shopping  in My Cart</h5> <div class='row mx-0 my-2'>"
        var i = 1;
        for (var item in cart) {
            if (cart[item][0]) {
                popstr = popstr + "<p><b>" + i + ".</b>";
                popstr = popstr + "  " + cart[item][1] + "<b>-> Qty: " + cart[item][0] + "</b></p></br>";
                i = i + 1;
            }
            else
            {

            }
        }

        popstr = popstr + "</div><a href='/shop/checkout' class='btn btn-primary' id='checkcart'>Check Cart</a>"
        document.getElementById('popcart').setAttribute('data-bs-content', popstr)
    }

    //   Popover code To show in the screen
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>

{% endblock %}

{% block popovers %}
<button type="button" id="popcart" class="btn btn-lg btn-danger mx-2" data-bs-html="true"
        data-bs-toggle="popover" title="Card View" data-bs-content="You Have a Card">
    Cart(<span id="cartview">0</span>)
</button>
{% endblock %}